---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit: 30px;
$breakpoints: (
    "xs": 0,
    "sm": 780px,
    "md": 992px,
    "lg": 1200px
);

@mixin media-query($breakpoint) {
    $_size: map-get($breakpoints, $breakpoint);

    @if $_size == 0 {
        @content;
    }
    @else {
        @media (min-width: $_size) {
            @content;
        }
    }
}

@import
    "theme-definitions",
    "theme-engine"
;

@import
    "code-editor/main",
    "code-editor/syntax-highlighting"
;

@import
    "bs-override",
    "helpers",
    "general",
    "pages/lessons",
    "pages/settings",
    "site"
;
