---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$breakpoints: (
    "xs": 0,
    "sm": 780px,
    "md": 992px,
    "lg": 1200px
);

@mixin media-query($breakpoint) {
    $_size: map-get($breakpoints, $breakpoint);

    @if $_size == 0 {
        @content;
    }
    @else {
        @media (min-width: $_size) {
            @content;
        }
    }
}

@import
    "bs-override",
    "code-editor",
    "syntax-highlighting"
;
