---
layout: default
---

<section class="chapter-list">
    {% assign chapterCount = 1 %}
    {% assign lastChapter = "" %}

    {% for post in site.lessons %}
        {% assign currentChapter = post.path | slice: 0, 20 %}

        {% if lastChapter != currentChapter %}
            {% if forloop.first == false %}
                </ol>
            {% endif %}

            <h2>Chapter {{ chapterCount }}</h2>

            {% if forloop.first == false %}
                <ol>
            {% endif %}

            {% if forloop.first %}
                <ol>
            {% endif %}

            {% assign lastChapter = currentChapter %}
            {% assign chapterCount = chapterCount | plus: 1 %}
        {% endif %}

        <li>
            <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
        </li>

        {% if forloop.last %}
            </ol>
        {% endif %}
    {% endfor %}
</section>
