pre code {
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    line-height: 1.6em;
    white-space: pre;
    word-wrap: normal;
}

.code-sandbox {
    border: 1px dotted #D0D0D0;
    width: 100%;
}

.code-sandbox--frameless {
    border: none;
}

.highlight {
    border-radius: 3px;
    overflow: auto;
    padding: 10px 15px;
    white-space: pre;
    word-wrap: normal; // horizontal scrolling
}