{% capture newline %}
{% endcapture %}

{% capture _content %}{% endcapture %}

{% capture SandboxCache %}
    {% assign SANDBOX_COUNTER = SANDBOX_COUNTER | plus: 1 %}
    {% capture iframeID %}sandbox-{{ SANDBOX_COUNTER }}{% endcapture %}

    <p>
        <strong>{{ include.lang | upcase }}</strong>

        {% if include.setup %}
            <small>
                <a data-toggle="collapse" href="#{{ iframeID }}-setup" aria-expanded="false" aria-controls="{{ iframeID }}-setup">
                    [Show Setup]
                </a>
            </small>
        {% endif %}
    </p>

    {% if include.setup %}
        <div class="collapse" id="{{ iframeID }}-setup" markdown="1">

            ```{{ include.lang }}{{ include.setup }}```

        </div>
    {% endif %}

    ```{{ include.lang }}{{ include.code }}```

    <p><strong>Output</strong></p>

    {% if include.lang == "html" %}
        {% capture code %}{{ include.setup }} {{ include.code }}{% endcapture %}

        {% if include.sandbox == false %}
            {{ code }}
        {% else %}
            <iframe id="{{ iframeID }}" class="code-sandbox {% if include.frameless %}code-sandbox--frameless{% endif %}"></iframe>
            <script>
                setIframeContents("{{ iframeID }}", "{{ code | strip_newlines | replace: '"', '\"' }}");
            </script>
        {% endif %}
    {% elsif include.lang == "scss" %}
        ```scss
        {{ include.code | scssify }}
        ```
    {% elsif include.lang == "markdown" %}
        ```markdown
        {{ include.code | markdownify }}
        ```
    {% endif %}
{% endcapture %}

{% assign SandboxCachePerLine = SandboxCache | newline_to_br | strip_newlines | split: '<br />' %}
{% assign insideCode = false %}

{% for line in SandboxCachePerLine %}
    {% assign startOfLine = line | slice: 0, 7 %}       {% comment %}This is the normal line that is indented once{% endcomment %}
    {% assign altStartOfLine = line | slice: 0, 3 %}    {% comment %}This is the ending line which is not indented{% endcomment %}
    {% assign setupStartOfLine = line | slice: 0, 15 %} {% comment %}This is a special line that's indented for the "setup" code functionality{% endcomment %}

    {% if (startOfLine == "    ```" or setupStartOfLine == "            ```") and insideCode == false %}
        {% assign insideCode = true %}
        {% capture _content %}{{ _content }}{{ line | replace: '    ', '' }}{% endcapture %}
    {% elsif altStartOfLine == "```" and insideCode == true %}
        {% assign insideCode = false %}
        {% capture _content %}{{ _content }}$$$${{ line | replace: '    ', '' }}{% endcapture %}
    {% else %}
        {% if insideCode == true %}
            {% capture _content %}{{ _content }}$$$${{ line }}{% endcapture %}
        {% else %}
            {% capture _content %}{{ _content }}{{ line | replace: '    ', '' }}$$$${% endcapture %}
        {% endif %}
    {% endif %}

    {% assign _content = _content | replace: '$$$$', newline %}
{% endfor %}

{{ _content }}