{% capture iframeID %}sandbox-{{ SANDBOX_COUNTER }}{% endcapture %}

```{{ include.lang }}
{{ include.code | strip }}
```
<p>Output</p>

{% if include.lang == "html" %}

<iframe id="{{ iframeID }}"></iframe>
<script>setIframeContents("{{ iframeID }}", "{{ include.code | strip_newlines | replace: '"', '\"' }}");</script>
{% assign SANDBOX_COUNTER = SANDBOX_COUNTER | plus: 1 %}

{% elsif include.lang == "scss" %}

```scss
{{ include.code | scssify }}
```

{% elsif include.lang == "markdown" %}

```markdown
{{ include.code | markdownify }}
```

{% endif %}