body {
    @include theme-global("background-color", "site-background-color");

    font-size: 16px;
}

.anchorjs-link {
    @include theme-global("color", "anchor-color");

    &:hover {
        text-decoration: none;
    }
}

.site-content,
.site-footer {
    @include theme-global("color", "font-color");
}

.site-content {
    @include theme-global("background-color", "content-background-color");

    border-radius: 10px;
    padding: 30px;

    @include media-query(md) {
        padding: 60px;
    }

    h1 {
        margin-bottom: 1em;
        margin-top: 0;
    }
}

.site-footer {
    margin: 15px 0;
    padding: 15px 0;
}

a {
    @include theme-global("color", "anchor-color");

    &:hover {
        @include theme-global("color", "anchor-color", darken, 1, 15%);
    }
}

article {
    h2, h3, h4,
    h5, h6 {
        margin: $spacing-unit 0;
    }

    p {
        margin: ($spacing-unit / 2) 0;
    }

    form,
    section {
        margin: $spacing-unit 0;
    }
}