.lesson-header {
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;

    h1 {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .col-sm-4 {
        margin-top: 15px;
    }
}

.lesson-step {
   margin-bottom: 15px;
   position: relative;
   text-align: center;

   p {
       $_size: 24px;

       @include theme-global("background-color", "alternate-color");

       border-radius: 50%;
       color: #FFFFFF;
       display: inline-block;
       margin-bottom: 0;

       line-height: $_size;
       height: $_size;
       width: $_size;

       &:after,
       &:before {
           @include theme-global("background-color", "alternate-color");

           content: '';
           height: 1px;
           margin-top: 10px;
           position: absolute;
           width: 40%;
       }

       &:after {
           right: 0;
       }

       &:before {
           left: 0;
       }
   }
}

.lesson-content {
    h2 {
        font-size: 28px;
        font-weight: 300;
    }

    img {
        display: block;
        margin: {
            left: auto;
            right: auto;
        }
        max-width: 100%;
    }
}

.lesson-footer {
    border-top: 1px solid #efefef;
    margin-top: 30px;
    padding-top: 15px;
}