.lesson-header {
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;

    h1 {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .col-sm-4 {
        margin-top: 15px;
    }
}

.lesson-content {
    h2 {
        font-size: 28px;
        font-weight: 300;
    }
}

.lesson-footer {
    border-top: 1px solid #efefef;
    margin-top: 30px;
    padding-top: 15px;
}