---
layout: default
---

{% capture editLink %}{{ site.repo_url }}/edit/{{ site.repo_branch }}/{{ page.path }}{% endcapture %}

<article class="lesson">
    <header class="lesson-header">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="col-sm-4 hidden-xs text-right">
                <a href="{{ editLink }}"><i class="fa fa-pencil"></i> Edit this page</a>
            </div>
        </div>
    </header>

    <div class="lesson-content">
        {{ content }}
    </div>
</article>
